body{
  background-color:rgba(0, 252, 239, 0.945);
  font-style: italic;
}
._1{
  position:relative;
  font-stretch: extra-condensed;
  font-size: 40px;
  left: 22%;
  bottom: 38px;
}
img{
  border-top: 40px solid gray;
  border-bottom: 40px solid gray;
  border-right: 40px solid #fff;
  border-left: 40px solid #fff;
  position: absolute;
  width: 30%;
  height: auto;
  left: 30%;
  bottom:10px;
}
._2{
  position: absolute;
  transform: rotate(-30deg);
  font-size: 50px;
  top: 300px;
  left:29%;
}
._3{
  font-size:20px;
}
